.ui.grid.nav-bar {
  position: fixed;
  min-height: 100vh!important;
  z-index: 2;
  background-color: rgba(233, 163, 72, 0.596)!important;
}
.ui.blue.massive.pointing.secondary.vertical.menu {
  width: 178px;
  padding-left: 10px;
}

.ui.fluid.card {
  transform: none!important;
}

.hero-img {
  height: 300px!important;
  object-fit: cover;
}

.main-story {
  margin-top: 33px!important;
}

.ui.image.nav-logo {
  position: absolute;
  width: 206px;
}

.main-view {
  margin-left: 206px!important;
  padding-right: 50px!important;
}

.full-height {
  min-height: 100vh;
}

.ui.header.main-header {
  font-size: 40px;
  text-transform: uppercase;
}

.ui.header.sub-header {
  font-size: 25px;
  text-transform: uppercase;
}

.ui.header>.icon {
  font-size: 1em!important;
}

.logo {
  cursor: pointer;
}

.ui.text.container {
  margin-top: 50px;
}

#root {
  min-height: 100vh!important;
}